services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: forge
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    ports:
      - "3000:3000"
      - "5555:5555"
    env_file:
      - .env
    depends_on:
    - db
      # db:
        # condition: service_healthy

volumes:
  postgres_data:
